<div class="abs-center wd-xl">
   <div id="panelDemo12" class="panel panel-danger">
         <div class="panel-heading">Access not authorized</div>
         <div class="panel-body">
            <p>Please contact IT support for requesting access.</p>
             <div class="text-center">
               <button type="button" ng-click="m.goback()" class="btn btn-sm btn-primary">Back</button>
               <!-- <button type="button" ng-click="$state.go('home')" class="btn btn-sm btn-primary">Back to Home</button> -->
            </div>
         </div>
      </div>
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>